<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journear.app"
    android:versionCode="1"
    android:versionName="0.1">

    <!-- saving maps -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- necessary to easily download maps via wifi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_jn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.journear.app.ui.LandingActivity" />
        <service
            android:name="com.journear.app.core.services.JourNearCommunicationsService"
            android:enabled="true"
            android:exported="true"></service>
        <activity
            android:name=".map.MapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateJourneyActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.UserRegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.StartActivity" />
    </application>

</manifest>